# 使用變數
用容易識別的代號來代表儲存資料的記憶體位置
#利用 =（指派，Assign）資料給變數
#可以用 id() 函數來找出變數的記憶體位置

In [9]:
# 【練習】江老師的個人資料如下：
# 姓名：江蟀哥
# 身高：173.5 cm
# 體重：100 kg
# 已婚：是
# 年齡：60
# 請用變數來儲存這些資料值，並且把它們的資料內容和記憶體位置輸出。


name = '江蟀哥' #字串資料 
height = 173.5 #小數資料
weight = 100.0 #小數資料
married = True # 布林資料
age = 60 #整數資料
print('江老師的姓名是', name, '身高為', height, '體重為', weight, '已婚', married, '年齡已經', age)
print(id(name), id(height), id(weight), id(married), id(age)) #印出變數代表的記憶體位置

江老師的姓名是 江蟀哥 身高為 173.5 體重為 100.0 已婚 True 年齡已經 60
2474303996144 2474302908024 2474302907928 140725493733712 140725494258336

# 轉換變數的資料型態
有時候一個資料必須從一種型態轉到另一種型態

In [10]:

letter = 'H'
number = 123456789
height = '153.5'
age = '30'

idnumber = letter + str(number) #數字傳字串後與英文字母串接
age, height = int(age), float(height)
age = age * 2
height = height + 20
print('江老師的身份證字號是', idnumber, '身高為', height, '年齡是', age)

江老師的身份證字號是 H123456789 身高為 173.5 年齡是 60

# 四則運算
數字資料的加（+）、減（-）、乘（*）、除（/，//）、餘（%）、次方（**）等運算
#優先序：括號優先，先乘除後加減

In [11]:
# 【練習】圓半徑為5，請算出其面積。又矩形面積高與寬分別為10和23，請計算其周長。
radius = 5
circle_area1 = 3.14159 * radius * radius
circle_area2 = 3.14159 * radius ** 2
height = 10
width = 23
rect_perimeter = (height+width)*2
print('圓面積 =', circle_area1, '矩形周長 = ', rect_perimeter)
print('圓面積 =', circle_area2, '矩形周長 = ', rect_perimeter)

圓面積 = 78.53975 矩形周長 =  66
圓面積 = 78.53975 矩形周長 =  66

In [12]:
# 方程式 3x2+4x−2=0 的根是多少？
a = 3
b = 4
c = -2
root1 = (-b + (b*b-4*a*c)**0.5)/2
root2 = (-b - (b*b-4*a*c)**0.5)/2
print('第一根為', root1, '第二根為', root2)

第一根為 1.1622776601683795 第二根為 -5.16227766016838

In [13]:
# 【練習】1567889秒等於幾日幾時幾分幾秒？
# 解法一：
total_seconds = 1567889
days = total_seconds//(60*60*24) #日
remained_seconds = total_seconds - days * (60*60*24)
hours = remained_seconds//(60*60) #小時
remained_seconds = remained_seconds - hours * 3600
minutes = remained_seconds // 60 #分鐘
remained_seconds = remained_seconds - minutes * 60
print(total_seconds,'=',days, '日', hours,'小時',minutes,'分鐘',remained_seconds,'秒')

1567889 = 18 日 3 小時 31 分鐘 29 秒

In [14]:
# 解法二：
total_seconds = 1567889
days = total_seconds//(60*60*24) #日
remained_seconds = total_seconds % (60*60*24)
hours = remained_seconds//(60*60) #小時
remained_seconds = remained_seconds % 3600
minutes = remained_seconds // 60 #分鐘
remained_seconds = remained_seconds % 60
print(total_seconds,'=',days, '日', hours,'小時',minutes,'分鐘',remained_seconds,'秒')

1567889 = 18 日 3 小時 31 分鐘 29 秒

# 捷徑式指派
某變數 = 某變數 運算子 某資料 ===》 某變數 運算子= 某資料

In [ ]:
# 請將練習五改為捷徑式指派
total_seconds = 1567889
days = total_seconds//(60*60*24) 
remained_seconds = total_seconds - days * (60*60*24)
hours = remained_seconds//(60*60) 
remained_seconds -= hours * 3600 #捷徑式指派
minutes = remained_seconds // 60 
remained_seconds -= minutes * 60 #捷徑式指派
print(total_seconds,'=',days, '日', hours,'小時',minutes,'分鐘',remained_seconds,'秒')

# 字串長度、串接與分割
#len(s)：取得字串s的長度
#+：字串1 + 字串2表示將二字串串接起來
#s.split(d)：以分割字符 d 來分割字串 s

In [38]:
print(len('Tom')+len('George')+len('Washington'))

19

In [17]:
print('I '+'Love '+'Python.')

I Love Python.

In [18]:
scores = '67.4 88.3 93.2'
s1, s2, s3 = scores.split() #以空格切開scores
s1, s2, s3 = float(s1), float(s2), float(s3)
average = (s1+s2+s3)/3
print('三人成績分別為', s1, s2, s3, '平均分數 =', average)

三人成績分別為 67.4 88.3 93.2 平均分數 = 82.96666666666665

In [20]:
scores = '67.4,88.3,93.2'
s1, s2, s3 = scores.split(',') #以空格切開scores
s1, s2, s3 = float(s1), float(s2), float(s3)
average = (s1+s2+s3)/3
print('三人成績分別為', s1, s2, s3, '平均分數 =', average)

三人成績分別為 67.4 88.3 93.2 平均分數 = 82.96666666666665

In [21]:
scores = '67.4---88.3---93.2'
s1, s2, s3 = scores.split('---') #以空格切開scores
print(s1, s2, s3)
s1, s2, s3 = float(s1), float(s2), float(s3)
average = (s1+s2+s3)/3
print('三人成績分別為', s1, s2, s3, '平均分數 =', average)

67.4 88.3 93.2
三人成績分別為 67.4 88.3 93.2 平均分數 = 82.96666666666665

In [22]:
data = '丹丹 | 11001122 | 88.3 56.4 78.3'
name, id, scores = data.split('|')
s1, s2, s3 = scores.split()
s1, s2, s3 = float(s1), float(s2), float(s3)
avg = (s1+s2+s3)/3
print('平均分數 =', avg)

平均分數 = 74.33333333333333

# 字串搜尋與取代
#s1 in s2：s1是否有出現在s2中
#s.replace(old_s, new_s)：取得字串s中的old_s為new_s
#s1.index(s2)：找出s2首次出現在s1中的位置，如果未出現則報錯
#s1.index(s2, n)：從第n個數字開始，找出s2首次出現在s1中的位置，如果未出現則報錯
#s1.find(s2)：找出s2首次出現在s1中的位置，如果未出現則傳回-1
#s1.find(s2, n)：找出s2首次出現在s1中的位置，如果未出現則傳回-1

In [23]:
# 【練習】電腦中有個成績檔案裡面讀出來的內容是一個字串如下：
# 丹丹 | 11001122 | 88.3 | 56.4 | 78.3

# 請檢查這個資料中是不是丹丹的成績資料？如果是，請取出他的學號以及總分。


data = '丹丹 | 11001122 | 88.3 + 56.4 + 78.3'
if '丹丹' in data:
    name, sid, s1, s2, s3 = data.replace('|',' ').replace('+',' ').split()
print('丹丹學號是', sid, '總分 =', float(s1)+float(s2)+float(s3))

丹丹學號是 11001122 總分 = 223.0

In [24]:
# 【練習】網路上截取到的一個關於世界景點的資料文字如下：
# 台灣：阿里山，台灣：日月潭，日本：富士山，美國：洛基山

# 請幫忙找出台灣和美國在這資料中出現的位置。
data = '台灣：阿里山，台灣：日月潭，日本：富士山，美國：洛基山'
pos1 = data.index('台灣')
pos2 = data.index('台灣', pos1+1)
pos3 = data.index('美國')
print('台灣第一次出現在', pos1,'台灣第二次出現在', pos2, '美國第一次出現在', pos3)

台灣第一次出現在 0 台灣第二次出現在 7 美國第一次出現在 21

In [25]:
data = '台灣：阿里山，台灣：日月潭，日本：富士山，美國：洛基山'
pos1 = data.index('台灣')
pos2 = data.index('台灣', pos1+1)
pos3 = data.find('英國')
print('台灣第一次出現在', pos1,'台灣第二次出現在', pos2, '美國第一次出現在', pos3)
pos4 = data.find('英國')

台灣第一次出現在 0 台灣第二次出現在 7 美國第一次出現在 -1

# 子字串截取
#s[a:b]：從第a個字母取到第b-1個（第b個的前一個）字母
#s[a:b:c]：從第a個字母每隔c個字取一個字母，一直取到第b-1（不超過b-1）個字母為止
#s[-a:-b]：從倒數第a個字母取到倒數第b+1個（倒數第b個的前一個）字母
#s[::-1]：反轉s

In [26]:
# 【練習】車牌號碼有二種格式，例如JX-1234或是5678-AA，如果給你一個車牌，你能否用程式分出英文部分和數字部分？
# name1 = 'JX-1234'
# name2 = '5678-AA'
# 方法一：
name1 = 'JX-1234'
name2 = '5678-AA'
p1, p2 = name1.split('-')
if len(p1)<len(p2):
    print('英文：', p1, '數字：', p2)
else:
    print('英文：', p2, '數字：', p1)
p1, p2 = name2.split('-')
if len(p1)<len(p2):
    print('英文：', p1, '數字：', p2)
else:
    print('英文：', p2, '數字：', p1)

英文： JX 數字： 1234
英文： AA 數字： 5678

In [27]:
#方法二：
#name1 = 'JX-1234'
name1 = '5678-AA'
length = len(name1)
dash_pos = name1.index('-')
if dash_pos>length//2:
    print('英文：', name1[dash_pos+1:length], '數字：', name1[0:dash_pos])
else:
    print('英文：', name1[0:dash_pos], '數字：', name1[dash_pos+1:length])

英文： AA 數字： 5678

In [28]:
# 【練習】給你一個車牌號碼，請把它的數字部分反轉。
#name1 = '5678-AA'
name1 = 'JX-1234'
length = len(name1)
dash_pos = name1.index('-')
if dash_pos>length//2:
    digit = name1[0:dash_pos]
    print('數字反轉：',digit[::-1])
else:
    digit = name1[dash_pos+1:length]
    print('數字反轉：',digit[::-1])

數字反轉： 4321

In [29]:
# 【練習】網路上截取到的一個關於世界景點的資料文字如下：
# 台灣：阿里山，日本：富士山，美國：洛基山，台灣：日月潭

# 請幫忙找出台灣的景點。
data = '台灣：阿里山，日本：富士山，美國：洛基山，台灣：日月潭'
pos1 = data.find('台灣：')
pos2 = data.find('，')
if pos2==-1: #找不到逗號
    pos2 = len(data)
print('景點一：', data[pos1+3:pos2])
pos1 = data.find('台灣：', pos2)
pos2 = data.find('，',pos1)
if pos2==-1: #找不到逗號
    pos2 = len(data)
print('景點二：', data[pos1+3:pos2])

景點一： 阿里山
景點二： 日月潭

# 比較運算
#a == b： a是否等於b(是則True，否則False)
#a != b： a是否不等於b(是則True，否則False)
#a >= b： a是否大或等於b(是則True，否則False)
#a > b： a是否大於b(是則True，否則False)
#a <= b： a是否小或等於b(是則True，否則False)
#a < b： a是否小於b(是則True，否則False)
#a < (或<=) b <（或<=） c： b 是否介於a與b之間（是則True，否則False）

In [31]:
# 【練習】請排列三數由大而小。
a, b, c = 100, 40, 50
if a<=b<=c:
    print(a, b, c)
elif a<=c<=b:
    print(a, c, b)
elif b<=a<=c:
    print(b, a, c)
elif b<=c<=a:
    print(b, c, a)
elif c<=a<=b:
    print(c, a, b)
else:
    print(c, b, a)

40 50 100

In [32]:
# 【練習】判別方程式 ax2+bx+c=0 的二根類別。
a, b, c = 100, 40, 50
if b*b-4*a*c>0:
    print('有相異二實根')
elif b*b-4*a*c==0:
    print('有相同二實根')
else:
    print('有二複數根')

有二複數根

# 邏輯運算

In [36]:
# 練習】閏年規則：
# 年份被4整除，當不能被100整除，或者是
# 年份可被400整除
# 給定一個年份，請判斷是否為閏年。
year = 2004
leap_year = (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)
print(leap_year)

True

In [37]:
# 給定一個月份，請判斷大月或小月？

month = 9
if (month <= 7 and month % 2 == 0) or (month > 7 and month % 2 != 0):
    print('小月')
else:
    print('大月')

小月